<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<!-- 리절트 -->
	<resultMap id="memberMap" type="map">
	
	</resultMap>
	
	<resultMap id="memberType" type="member">
		<result column="hobby" property="hobby" typeHandler="strArray"></result>
	</resultMap>
	<!-- 리절트 -->
	
	
	<!-- 쿼리문 -->
	<select id="memberLogin" parameterType="map" resultMap="memberMap">
		SELECT * FROM MEMBER WHERE USERID=#{userId}
	</select>
	
	<insert id="memberEnroll" parameterType="member">
		INSERT INTO MEMBER VALUES(#{userId}, #{password}, #{userName}, #{gender}, #{age}, #{email}, #{phone}, #{address}, #{hobby, typeHandler=strArray}, SYSDATE)
	</insert>
	
	<select id="memberList" resultMap="memberMap">
		SELECT * FROM MEMBER ORDER BY USERNAME ASC
	</select>
	
	<select id="selectEmpCount" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
	</select>
	
	<update id="myPageUpdate" parameterType="member">
		UPDATE MEMBER SET PASSWORD=#{password}, USERNAME=#{userName}, GENDER=#{gender}, AGE=#{age}, EMAIL=#{email}, PHONE=#{phone}, ADDRESS=#{address}, HOBBY=#{hobby, typeHandler=strArray}, ENROLLDATE=SYSDATE WHERE USERID=#{userId}
	</update>
	
	<select id="selectMemberOne" parameterType="string" resultMap="memberType">
		SELECT * FROM MEMBER WHERE USERID=#{userId}
	</select>
	
	<select id="memberSearch" parameterType="map" resultMap="memberMap">
		SELECT * FROM MEMBER WHERE ${searchType} LIKE '%'||#{keyword}||'%'
	</select>
	<!-- 쿼리문 -->
</mapper>
